* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFFFFF;
}
#main{
    width: 100%;
}
#applybuttonmain {
    background-color: #5019c7;
    height: 6.5vh;
    max-width: 13vw;
    z-index: 9999;
    border-radius: 50px;
    position: fixed;
    margin-top: 42%;
    margin-left: 85%;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#nav{
    height: 128.39px;
    width: 100%;
    position: fixed;
    z-index: 9999;
    background-color:white;
    
   
    display: flex;
    justify-content: space-evenly;
    /* background-color: lightblue; */
}
#nav img {
/* padding-left: 5%; */



}
#logo {
    align-items: center;
    margin-top: 15px;
    height: 94.95px;
max-width: 250px;
    margin-left: 20px;
    display: block;
    justify-content: center;
}
#icons{
    /* height: 85px;
    max-width: 800;
    background-color: greenyellow; */
}
#logo-right {
    height: 55.31px;
    max-width: 425;
    margin-left: 360px;
    margin-top: 10px;
    /* max-max-width: 100%; */
    display: block;
}


.navbar-nav{
    display: flex;
    gap: 11px;
    margin-top: 20px;

}
.nav-item a{
    font-weight: 450;
    font-size: 12px;
    text-decoration: none;
    color: black;
    font-family: 'Nunito Sans',sans-serif;
}
.line{
    height: 15px;
    margin-top: 3px;
    max-width: 1px;
    background-color: black;
}
#page1{
    height: 120vh;
    width: 100%;

    padding-top: 128px;

    /* display: block; */
    /* background-color: aquamarine; */
    
}
#pg1bnrimg{
    max-width: 100%;
    height: 318px;
    background-color: #ffffff;
}
#page1 img{
    height: 318px;
    max-width: 100%;
    position: relative;
    z-index: 9;
    
}
#float{
    background-color: #531F75;
    z-index: 99;
    position: relative;
    height: 42vh;
    max-width: 85%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-left: 90px;
    margin-top: -90px;
}
#form{
    height: 70vh;
    width: 26vw;
    background-color:#8E60BF;
    margin-top: -75vh;
    z-index: 999;
    position: absolute;
    text-align: center;
    margin-left: 64vw;
    align-items: center;
    justify-content: center;
}
#form h1{
    text-transform: uppercase;
    color: #FFFFFF;
    width: 100%;
    /* background-color: #e66a18; */
    /* margin-left: 100px; */
    padding-top: 20px;
    font-size: 20px;
}
#name {
    width: 100%;
    height: 5vh;
    display: flex;
    gap: 1px;
    align-items: center;
    /* justify-content: space-evenly; */
    margin-top: 30px;
    margin-left: 3.68%;
}
#name input{
    min-width: 42.99%;
    border-radius: 2px;
    background-color: #FFFFFF;
    border: none;
    height: 5vh;
}
#email {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
    /* background-color: #F58220; */
}
#email input{
   min-width: 92%;
    border-radius: 2px;
    background-color: #FFFFFF;
    /* border: none; */
    height: 5vh;
}
#number{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-top: 15px;
    margin-left: 3.5%;
}
#number select{
    width: 30%;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: #FFFFFF;
    border: none;
    height: 5vh;
}
#number input{
    width: 62%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #FFFFFF;
    border: none;
    height: 5vh;
    margin-left: 1px;
}
#statencity{
    display: flex;
    /* justify-content: space-b     etween; */
    /* align-items: center; */
    width: 92%;
    margin-top: 15px;
    margin-left: 3.68%;
    /* background-color: aquamarine; */
}
#state{
    width: 50%;
    margin-right: 6px;
    border-radius: 2px;
    background-color: #FFFFFF;
    border: none;
    height: 5vh;
    /* margin-left: 12px; */
}
#city{
    width: 50%;
    /* margin-right: 15px; */
    border-radius: 2px;
    background-color: #FFFFFF;
    border: none;
    height: 5vh;
}
.captcha-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    /* background-color: #531F75; */
    height: 5vh;
    margin-top: 15px;
    margin-left: 3.68%;
}
#captcha-box {
    font-size: 20px;
    font-weight: bold;
    color:              #fc096a;
    background-color: #e6edf3;
    padding: 3px 8px;
    border-radius: 2px;
    width: 50%;
    height: 100%;
    
    text-align: center;
}
#captcha-input {
    width: 50%;
    margin-right: 0px;
    border-radius: 2px;
    background-color: #FFFFFF;
    border: none;
    margin-left: 6px;
    height: 5vh;
}
#message{
    /* background-color: brown; */
    align-items: center;
    color: blue;
    
    justify-content: center;
    margin-left: 29%;
    margin-top: 8px;
}
#check{
    display: flex;
    height: 40px;
    color: #FFFFFF;
    font-size: 14px;
    /* background-color: aqua; */
    max-width: 92%;
    align-items: center;
    /* justify-content: center; */
    margin-left: 3.68%;
}
#check input {
    font-size: 5px;
    height: 18px;
    max-width: 5%;
    margin-right: 5%;
   
}




button {
    margin-top: 15px;
    padding: 8px 15px;
    font-size: 16px;
    background-color: orange;
    color: white;
    border: none;
    max-width: 92%;
    border-radius: 8px;
    margin-left: 12px;
    cursor: pointer;
}
#frm{
    max-width: 20%;
    border-radius: 2px;
    background-color: #FFFFFF;
    border: none;
    height: 5vh;
    margin-right: 3px;
}
#float-left{
    max-width: 30%;
    padding-top: 7%;
    margin-left: 4%;
    height: 100%;
    /* border-right: 1px solid white; */
    /* align-items: center; */
    /* text-align: center; */
    /* background-color: #e06fab; */
}

#float-header{
    display: flex;
    /* text-align: center; */
}
#float-headerh2{
    max-width: 100%;
    /* background-color: #e06fab; */
}
#float-header{
    max-width: 100%;

}
#float-header h2{
    /* font-size: 50px; */
    color: rgb(240, 246, 244);
    font-size: 28.8px;
    max-width: 50%;
    font-family: 'loral',serif;
}
#float-headerh2 h2{
    margin-left: 15px;
    font-size: 50px;
    color: coral;
    font-size: 28.8px;
    max-width: 100%;
    font-family: 'loral',serif;
    /* background-color: aquamarine; */
}
#float-body{
    font-family: 'Nunito Sans',sans-serif;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 18.472px;
    font-weight: 100;
    margin-top: 10px;
    

    /* background-color: brown; */
    
}
#vrline{
    max-width: 0.5px;
    height: 85%;
    background-color: #6b6e72;
}
#page2{
    height: 77vh;
    width: 100%;
    background-color: #ECECEC;
}
#page2hdr{
    margin-left: 40%;
    padding-top: 3%;
    text-align: center;
    justify-content: center;
    justify-items: center;
    height: 20vh;
    max-width: 20%;
    /* background-color: #F58220; */
}
#imgntxt{
    display: flex;
    flex-direction: column;
    height:80vh;
    margin-top: 5vh;
    
    justify-content: space-evenly;
    max-width: 100%;
}
#pg2img{
height: 243px;
background-color: #ffffff;
width: 420px;
z-index: 999;
position: relative;
/* position: absolute; */
padding-left: 3.5px;
padding-top: 5px;
align-items: center;
/* position: fixed; */
}
#sqimg{
    height: 52.5%;
    max-width: 34.158%;
    /* background-color: brown;  */
}
#pg2text{
max-width: 100%;
margin-top: 5vh;
font-family: 'Nunito Sans',sans-serif;
font-size: 14px;
/* position: relative; */
/* margin-right: 100px; */
/* font-weight: 10; */
text-align: justify;
}
#qcircle{
    height: 26vh;
    max-width: 12vw;
    position: absolute;
    background-color: #e66a18;
    /* position: fixed; */
    margin-top: -15vh;
    border-top-right-radius: 200px;
    
    margin-left: -2vw;
}
#sqr{
    height: 26vh;
    max-width: 12vw;
    position: absolute;
    background-color: #e66a18;
    /* position: fixed; */
    margin-top: 22vh;
    /* border-top-right-radius: 200px; */
    
    margin-left: -2vw;
}
#pg2img img{
    width: 408;
    height: 234px;
    
}
#float-right{
    /* display: flex; */
    /* background-color: darkblue; */
    max-width: 34%;
    height: 100%;
}
#float-right h4{
    color: #FFFFFF;
    margin-top: 15px;
    margin-left: 3%;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Nunito Sans',sans-serif;
}
#float-button{
    display: flex;
    /* background-color: #e06fab; */
    max-width: 100%;
    margin-top: 3%;
    height: 9vh;
}
#leftbtn{
    max-width: 36%;
    height: 100%;
    font-size: small;
    text-align: center;
    padding-top: 10px;
    margin-left: 3%;
    color: #f58220;
    font-family: 'Nunito Sans',sans-serif;
    background-color: rgb(255, 255, 255);
}
#rightbtn{
    max-width: 50%;
    font-size: small;
    text-align: center;
    padding-top: 10px;
    color: #FFFFFF;
    font-family: 'Nunito Sans',sans-serif;
    margin-left: 3%;

    height: 100%;
    background-color: #f58220;
}
#applytxt{
    color: #FFFFFF;
    margin-top: 4px;
    margin-left: 3%;
    font-size: 19px;
    font-weight: 100;
    font-family: 'Nunito Sans',sans-serif;
}
#sprline{
    max-width: 60%;
    height: 0.5px;
    background-color: #737678;
    margin-left: 3%;
    margin-top: 4px;
}
#appdate h4{
    font-size: 23PX;
    font-family: 'Nunito Sans',sans-serif;
    color: #F58220;
}
#applastdt h4{
    font-size: 23PX;
    font-family: 'Nunito Sans',sans-serif;
    color: #FFFFFF;
}
#top-rank{
    height: 58vh;
    margin-top: -70px;
    /* background-color: #e06fab; */
}
#toprkheader{
    text-align: center;
    font-size: 28.8px;
    font-weight: 600;
    font-family: 'Nunito Sans',sans-serif;
    color: #531F75;

    /* background-color: #fc096a; */
}
#valueofcompany{
    max-width: 100%;
    height: 23vh;
    display: flex;
    justify-content:space-between;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 1%;
    /* align-items: center; */

    /* background-color: #F58220; */

}
#noone{
    height: 100%;
    max-width: 18%;
    /* background-color: #f58220; */
    /* margin-top: 5%; */
    text-align: center;
}
#noone h2{ 
    font-size: 33px;
    margin-bottom: 15px;
    color: #531F75  ;
}
#valueline{
    height: 50%;
    max-width: .1px;
    margin-bottom: 40px;
    background-color: #a49fa1;
}
#top-rank{
    height: 15vh;
    max-width: 100%;
}
#bodytxt{
    text-align: center;
    font-size: x-large; 
}


@media (max-width: 440px) {
    #nav{
        height: 100px;
        width: 100%;
        display: flex;
        position: fixed;
        z-index: 9999;
        justify-content: start;
        background-color:white;
}
#logo {
    /* align-items: start; */
    margin-top: 15px;
    height: 75.95px;
     width: 200px;
    margin-left: 10px;
    /* display: block; */
    /* display: none; */
    /* justify-content: start; */
}
#logo-right {
    height: 55.31px;
    max-width: 0;
    margin-left: 0px;
    margin-top: 10px;
    /* max-max-width: 100%; */
    display: none;
}
.navbar-nav{
    display: none;
    flex-direction: column;
    gap: 11px;
    margin-top: 20px;
    position: relative;

}
#navmenu{
    height: 2.5rem;
    width: 3.4rem;
    margin-top: 1.9rem;
    margin-left: 9.7rem;
    z-index: 99999;
    background-color: #e66a18;
}
#pg1bnrimg{
    max-width: 100%;
    height: 318px;
    display: none;
    background-color: #ffffff;
}
#imgntxt{
    display: flex;
    height:80vh;
    margin-top: 5vh;
    
    justify-content: start;
    width: 100%;
}
#float{
    background-color: #531F75;
    z-index: 99;
    position: relative;
    height: 15rem;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-left: 0px;
    margin-top: -40px;
}
#applybuttonmain {
    background-color: #5019c7;
    height: 6.5vh;
    max-width: 13vw;
    z-index: 9999;
    border-radius: 50px;
    position: fixed;
    margin-top: 42%;
    margin-left: 10%;
    color: white;
    display: none;
    font-size: 18px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#form{
    height: 30rem;
    width: 100%;
    background-color:#8E60BF;
    margin-top: 3vh;
    z-index: 999;
    position: absolute;
    margin-left: 0%;
    align-items: center;
    justify-content: center;
}

#float-left{
    width: 0%;
    padding-top: 0%;
    margin-left: 0%;
    height: 0%;
    overflow: hidden;
    display: none;
    /* border-right: 1px solid white; */
    /* align-items: center; */
    /* text-align: center; */
    /* background-color: #e06fab; */
}
#float-right{
    display: flex;
    flex-direction: column;
    background-color: darkblue;
    min-width: 118%;
    position: absolute;
    height: 100%;
}
#float-right h4{
    color: #FFFFFF;
    margin-top: 15px;
    margin-left: 3%;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Nunito Sans',sans-serif;
}
#float-button{
    display: flex;
    /* background-color: #e06fab; */
    width: 100%;
    margin-top: 1%;
    height: 9vh;
}
#leftbtn{
    width: 90px;
    height: 50px;
    font-size: 10px;
    text-align: center;
    padding-top: 13px;
    margin-left: 3%;
    color: #f58220;
    font-family: 'Nunito Sans',sans-serif;
    background-color: rgb(255, 255, 255);
}
#rightbtn{
    width: 130px;
    font-size: 10px;
    text-align: center;
    padding-top: 13px;
    color: #FFFFFF;
    font-family: 'Nunito Sans',sans-serif;
    margin-left: 3%;

    height: 50px;
    background-color: #f58220;
}
#pg2img img{
    width: 96%;
    height: 234px;
    
}
#page2{
    height: 80vh;
    width: 100%;

    background-color: #ECECEC;
}
#toprkheader{
    text-align: center;
    font-size: 20.8px;
    font-weight: 600;
    font-family: 'Nunito Sans',sans-serif;
    color: #531F75;

    /* background-color: #fc096a; */
}
#page1{
    height: 120vh;
    width: 100%;

    padding-top: 128px;

    /* display: block; */
    /* background-color: aquamarine; */
    
}
#name {
    width: 100%;
    height: 5vh;
    display: flex;
    gap: 4px;
    align-items: center;
    /* justify-content: space-evenly; */
    margin-top: 30px;
    margin-left: 3.68%;
}
#name input{
    min-width: 45%;
    border-radius: 2px;
    background-color: #FFFFFF;
    border: none;
    height: 5vh;
}
}
#pg2text{
width: 90%;
margin-top: -120px;
font-family: 'Nunito Sans',sans-serif;
font-size: 14px;
/* position: relative; */
margin-left: 5%;
/* font-weight: 10; */
text-align: justify;
}
body{
    /* display: grid;
    place-items: center; */
}
#pg2img{
    height: 243px;
    background-color: #ffffff;
    min-width: 20%;
    z-index: 999;
    position: relative;
    /* position: absolute; */
    padding-left: 3.5px;
    padding-top: 5px;
    margin-left: 5%;
    align-items: center;
    margin-left: 10px;
    /* position: fixed; */
    }
}